/* 514 x 699 inventory  32.1% x 66.6% */
.frame {
  @apply bg-inventory;
  @apply bg-cover;
  @apply max-w-[514px];
  @apply max-h-[699px];
  @apply w-[32.1%];
  @apply h-[66.6%];

  @apply absolute;
  @apply right-0;
  @apply bottom-0;
}

.inventory {
  @apply grid;
  @apply grid-cols-4;
  @apply gap-3;
  @apply py-[20%];
  @apply px-[15%];
}

.slot {
  @apply w-full;
  @apply h-auto;
  @apply hover:scale-110;
  @apply duration-200;
}

.tooltip {
  visibility: hidden;
  @apply min-w-[120px];
  @apply px-1;
  @apply box-content;
  /* @apply bg-orange-950; */
  /* background-color: #333333; */
  @apply bg-amber-950;
  @apply bg-opacity-20;
  @apply border border-solid;
  border-color: #663333;
  @apply text-white;
  @apply text-center;
  /* border-radius: 6px; */

  @apply absolute;
  z-index: 1;
  bottom: -69%;
}

.tooltip_bold {
  @apply text-orange-500;
}

.slot:hover .tooltip {
  visibility: visible;
}

.small_tooltip {
  visibility: hidden;
  width: 120px;
  background-color: gold;
  color: black;
  text-align: center;
  /* border-radius: 6px; */
  padding: 5px 0;

  position: absolute;
  z-index: 10;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
}

.icon:hover .small_tooltip {
  visibility: visible;
}

.icon {
  @apply absolute;
  width: 14%;
  height: 8%;
}

.musicplayer {
  @apply bottom-1;
  @apply right-1;
}

.combat {
  @apply absolute;
  @apply top-1;
  @apply left-1;
  /* @apply bg-blue-600; */
  width: 14%;
  height: 8%;
}

.stats {
  @apply absolute;
  @apply top-1;
  @apply left-10;
  @apply bg-blue-600;
  width: 14%;
  height: 8%;
}

.quests {
  @apply absolute;
  @apply top-1;
  @apply left-20;
  @apply bg-blue-600;
  width: 14%;
  height: 8%;
}
